html,body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
    min-width:260px;
    color:#333;
    background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0575/6726/rrrpaw_prints_shop_preview.jpg");
  }
 